name: Create dynamic env 

on: 

  push:


#  delete:
#    branches:
#      - '*'
#      - '!main'
#      - '!develop'
#      - '!uat'

env: 
  AWS_REGION: eu-central-1
  REPOSITORY_NAME: "hello"
  AWS_ECR: "211125572880.dkr.ecr.eu-central-1.amazonaws.com"
  IMAGE_TAG: 1
  DOCKERFILE: ./app/Dockerfile
  GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
jobs:  
  build-push-img:
    runs-on: ubuntu-latest
    steps:
      - name: Get branchy name
        run: |
          echo ${{ github.ref_name }}

      - name: Checkout codebase
        uses: actions/checkout@v4
  
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
  
      - name: Build, tag, and push docker image to Amazon ECR

        run: |
          docker build -t $AWS_ECR/$REPOSITORY_NAME:$IMAGE_TAG -f $DOCKERFILE ./app 
          docker push $AWS_ECR/$REPOSITORY_NAME:$IMAGE_TAG
